/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/GestioneCampionato/v17/.suo
/.vs/GestioneCampionato/xs/project-cache/GestioneCampionato-Debug.json
/.vs/GestioneCampionato/xs/UserPrefs.xml
/bin/Debug/GestioneCampionato.exe
/bin/Debug/GestioneCampionato.exe.config
/bin/Debug/GestioneCampionato.pdb
/obj/Debug/GestioneCampionato.csproj.FileListAbsolute.txt
/obj/Debug/GestioneCampionato.exe
/obj/Debug/GestioneCampionato.pdb
/App.config
/GestioneCampionato.csproj
/obj/Debug/GestioneCampionato.csproj.AssemblyReference.cache
/README.md
/GestioneCampionato.csproj
/GestioneCampionato.sln
/packages
/packages.config
/obj/Debug/GestioneCampionato.csproj.AssemblyReference.cache
/GestioneCampionato.csproj.CoreCompileInputs.cache
/GestioneCampionato.csproj.SuggestedBindingRedirects.cache
/Properties/AssemblyInfo.cs
/.vs/GestioneCampionato/FileContentIndex/7ca33780-5412-4281-b575-2a105aef2d08.vsidx
/.vs/GestioneCampionato/FileContentIndex/d099f6ae-830d-4087-a1d1-337eeaac31dd.vsidx
/.vs/GestioneCampionato/FileContentIndex/acf6cc8f-c6b6-4ca7-9f16-4fa6a99af1d5.vsidx
/.vs/GestioneCampionato/FileContentIndex/b33fa1fc-e763-4a00-b3ae-9e21aa444a05.vsidx