/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/GestioneCampionato/v17/.suo
/.vs/GestioneCampionato/xs/project-cache/GestioneCampionato-Debug.json
/.vs/GestioneCampionato/xs/UserPrefs.xml
/bin/Debug/GestioneCampionato.exe
/bin/Debug/GestioneCampionato.exe.config
/bin/Debug/GestioneCampionato.pdb
/obj/Debug/GestioneCampionato.csproj.FileListAbsolute.txt
/obj/Debug/GestioneCampionato.exe
/obj/Debug/GestioneCampionato.pdb
/App.config
/GestioneCampionato.csproj
/obj/Debug/GestioneCampionato.csproj.AssemblyReference.cache
/README.md
/GestioneCampionato.csproj
/GestioneCampionato.sln
/packages
/packages.config
/obj/Debug/GestioneCampionato.csproj.AssemblyReference.cache
/GestioneCampionato.csproj.CoreCompileInputs.cache
/GestioneCampionato.csproj.SuggestedBindingRedirects.cache
/Properties/AssemblyInfo.cs